{{ define "main" }}
<aside id = "left-pannel"></aside>
<section id = "main-pannel">
    <div>
        <h1>{{.Title}}</h1>
        <br>
        <section id="cadence-canvas">
            {{ range .Pages }}
                {{if .Params.level}}
                    {{ partial "cadence-button" . }}
                {{ else }}
                    {{ partial "tag-button" . }}
                {{ end }}
            {{ end }}
        </section>
        {{.Content}}
    </div>
</section>
<aside id = "right-pannel"></aside>
{{ end }}
