* {
    margin: 0;
}

header {
    background-color: DimGray;
    border: 5px solid black;
    height: 20vh;
    display: flex;
}

nav {
    height: 100%;
    flex-grow: 10;
}

.logo {
    flex-grow: 1;
    height: 100%;
}

.header-icon {
    height: 70%;
}

.header-text {
    height: 30%;
    font-size: 24px;
}

.nocolorlink {
    text-decoration: none;
    color: inherit;
}

nav ul {
    height: 100%;
    display: flex;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    color: #AAAAAA;
    transition: background-color 0.5s ease;
    color: white;
    height: 100%;
    width: 100%;
    user-select: none;
}

nav ul li a div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a div div {
    display: inline-block;
    height: 80%;
    width: 100%;
}

nav ul li:hover {
    background-color: Red;
}

.bg-img {
    position: fixed;
    z-index: -5;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    display:flex;
}

#left-pannel {
    flex-basis: 20%;
}

#right-pannel {
    flex-basis: 20%;
}

#main-pannel{
    height: 100%;
    flex-basis: 60%;
    background-color: darkGray;
}


h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

#cadence-canvas{
    display: flex;
    flex-wrap: wrap;
}

.cadence-button > a {
    width: 100%;
    height: 100%;
}

.cadence-button > a > img{
    width: 100%;
    height: 60%;
}

.cadence-button {
    display: inline-block;
    margin: 1%;
    width: 28%;
    height: 270px;
    border: 5px solid black;
    background-color: black;
    cursor: pointer;
}

.cadence-button > *{
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
}

iframe {
    height: 70vh;
    width: 100%;
}
